
<div class="bg">
  <div class="container_wide">
    <div class="top_bar">
      <a href="mailto:hello@kodotalk.com" class="mail desktop">hello@kodotalk.com</a>
      <div class="wip">
        <p class="woop flex-vertical">SERVICE EN CONSTRUCTION</p>
        <div class="wip_content no_show">
          <p>Hop hop hop! Pas si vite! La plateforme Kôdô est en construction pour rendre les savoirs accessibles à tous, partout et tout le temps.<br><br>Pour la suite de l’aventure, rejoignez la communauté grâce à notre <a href="">newsletter</a> et nos <a href="">Réseaux sociaux</a>!</p>
          <button class="blue_btn">Compris ! Je m'inscris</button>
        </div>
      </div>
    </div>
    <div class="main_stuff">
      <div class="img_info">
        <div class="images">
            <div class="logo"><%= image_tag("Logo_KODO.png", class:"kodo_logo")  %></div>
          </div>
        <div class="info">
          <h1 class="know_again">Reprenons connaissance !</h1>
          <h5 class="xp">L'expérience des conférences au delà des bancs de l'amphi</h5>
        </div>
      </div>

      <div class="low_bar desktop">
        <div class="newsletter">
          <div class="box_title">
            <p class="title">Newsletter</p>
            <div class="icons"> <%= image_tag("NL.png") %></div>
          </div>

          <div class="nl_content no_show">
            <p class="subtitle">Restons connectés</p>
            <p class="text">Tous les mois, recevez des news et des contenus éclairés tout droit sortis de l’observatoire Kôdô !</p>
          </div>
        </div>
         <div class="know_more">
          <div class="box_title">
            <p class="title">En savoir plus</p>
            <div class="icons"> <%= image_tag("Play.png") %></div>
          </div>

          <div class="km_content no_show">
            <p class="text" style="text-align: justify;">Nous sommes le pont entre vous et l’infini savoir.<br><br>

Nous voulons mettre en lumière les chercheurs, leur travail et leurs découvertes.<br><br>

Nous avons la conviction qu’ensemble nous pouvons créer un espace inédit. Un espace où les savoirs priment sur l’opinion.</p>
          </div>
        </div>
         <div class="follow">
          <div class="box_title">
            <p class="title">Suivez-nous</p>
            <div class="icons"> <%= image_tag("Consulter.png") %></div>
          </div>

          <div class="fllw_content no_show">
            <div class="insta" style="height: 50%; background-color: blue" >Instagram</div>
            <div class="fb" style="height: 50%; background-color: white" >Facebook</div>
          </div>
        </div>
      </div>

      <div class="nl_contentm no_show">
        <p class="subtitle">Restons connectés</p>
        <p class="text">Tous les mois, recevez des news et des contenus éclairés tout droit sortis de l’observatoire Kôdô !</p>
      </div>

       <div class="km_contentm no_show">
            <p class="text" style="text-align: justify;">Nous sommes le pont entre vous et l’infini savoir.<br><br>

Nous voulons mettre en lumière les chercheurs, leur travail et leurs découvertes.<br><br>

Nous avons la conviction qu’ensemble nous pouvons créer un espace inédit. Un espace où les savoirs priment sur l’opinion.</p>
      </div>

      <div class="fllw_contentm no_show">
        <div class="insta" style="height: 50%; background-color: blue" >Instagram</div>
        <div class="fb" style="height: 50%; background-color: white" >Facebook</div>
      </div>

            <div class="low_bar mobile">
              <div class="newsletterm">
                <div class="box_title">
                  <p class="title">Newsletter</p>
                  <div class="icons"> <%= image_tag("NL.png") %></div>
                </div>

              </div>
               <div class="know_morem">
                <div class="box_title">
                  <p class="title">En savoir plus</p>
                  <div class="icons"> <%= image_tag("Play.png") %></div>
                </div>

              </div>
               <div class="followm">
                <div class="box_title">
                  <p class="title">Suivez-nous</p>
                  <div class="icons"> <%= image_tag("Consulter.png") %></div>
                </div>


              </div>
            </div>




    </div>

  </div>
</div>
